/* unbounded-300 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/unbounded-v8-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2');
}

/* unbounded-500 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/unbounded-v8-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'); 
}

/* roboto-condensed-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-condensed-v27-latin-300.woff2') format('woff2'); 
}

/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2');
}

/* roboto-condensed-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/RobotoCondensed-Medium.ttf') format('truetype'); 
}

/* roboto-condensed-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-condensed-v27-latin-600.woff2') format('woff2'); /
}
